/*************************
  Reset
*************************/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*************************
  Design System
*************************/
$font-mono: 'Overpass Mono', Helvetica, sans-serif;
$font-sans: Overpass, Helvetica, sans-serif;
$primary: #ff3358;
$black: #050505;
$white: #e8e8e8;
$grey: #0f0f0f;
$lightgrey: #888888;

@mixin button-primary {
  font-family: $font-mono;
  color: $white;
  background: $primary;
  border: 2px solid $primary;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 2px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: $primary;
    background: transparent;
  }
}

@mixin link-primary {
  color: $primary;
  font-family: $font-sans;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  background: $black;
  color: $white;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  @media (max-width: 800px) {
    padding: 30px 20px;
  }
}

h1 {
  font-family: $font-mono;
  font-size: 50px;
  font-weight: 900;
  @media (max-width: 800px) {
    font-size: 40px;
  }
}

h2 {
  font-family: $font-mono;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-family: $font-sans;
  font-size: 22px;
}

h4 {
  font-family: $font-mono;
  font-size: 24px;
  padding-bottom: 5px;
  font-weight: 400;
}
h5 {
  font-family: $font-mono;
  font-size: 14px;
}

p {
  font-family: $font-sans;
  padding-bottom: 10px;
}

p em,
.text-comment {
  color: $lightgrey;
}

a.button {
  @include button-primary;
}

a.link {
  @include link-primary;
}

.socials {
  ul {
    display: flex;
  }
  li {
    padding: 0 10px;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  svg {
    width: 30px;
    height: 30px;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}

.logo svg {
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
}

.flex-50 {
  flex-basis: 50%;
}

footer {
  background: $primary;
  text-align: center;
  padding: 10px 20px;
}

/************************* 
  Homepage
*************************/
section {
  &.header-section {
    margin-bottom: 130px;
  }
  &.work-section {
    margin-bottom: 100px;
  }
  &.about-section {
    padding: 200px 0;
    background-color: $grey;
  }
  &.contact-section {
    padding: 100px 0;
    text-align: center;
  }
}

.header,
.work,
.about,
.contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 1200px) {
    padding: 0 120px;
  }
  @media (max-width: 525px) {
    padding: 0 20px;
  }
}

.about {
  display: flex;
  align-items: center;
  padding: 0 80px;
  @media (max-width: 800px) {
    flex-direction: column-reverse;
    padding: 50px;
  }
  > * {
    flex-basis: 50%;
  }
  img {
    width: 350px;
    padding: 20px;
    @media (max-width: 800px) {
      padding-top: 50px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $grey;
  border-radius: 4px;
  transition: 0.3s;
  margin: 12px;
  box-shadow: 0px 0px 4px 2px $primary;

  .card-content {
    padding: 18px;
  }
  img {
    border-radius: 4px 4px 0 0;
  }
  .card-description {
    font-size: 14px;
  }
  svg {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }

  .card-links {
    display: flex;
    a.button {
      text-align: center;
      width: 100%;
    }
  }
}

#bioMoreContent {
  display: none;
}

/*************************
  Project page
*************************/
.back {
  a {
    color: $white;
    text-decoration: none;
  }
  svg {
    width: 50px;
    height: 50px;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}

.project-header {
  text-align: center;
  svg {
    margin-left: 6px;
  }
}

.project-container {
  background: $grey;
}

.project-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
  > * {
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    > * {
      flex-basis: 50%;
      margin: 0 20px;
    }
  }
  img {
    width: 300px;
    border-radius: 20px;
  }
  @media (max-width: 800px) {
    > * {
      flex-direction: column;
      align-items: flex-start;
    }
    .col-reverse {
      flex-direction: column-reverse;
    }
    p,
    ul {
      padding-bottom: 40px;
      text-align: left;
    }
    img {
      width: 100%;
    }
  }
  @media (max-width: 450px) {
    padding: 40px;
    img {
      width: 90%;
    }
  }
}

.technologies {
  ul {
    list-style: square;
  }
  li {
    font-family: $font-sans;
    margin-left: 15px;
  }
}
