/*************************
  Reset
*************************/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*************************
  Variables 
*************************/
/*************************
  Mixins & Shared 
*************************/
body {
  background: #050505;
  color: #e8e8e8;
  line-height: 1.5;
}

nav {
  justify-content: space-between;
  padding: 50px;
}
@media (max-width: 800px) {
  nav {
    padding: 30px 20px;
  }
}

h1 {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  font-size: 3.125rem;
  font-weight: 900;
}
@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-family: Overpass, Helvetica, sans-serif;
  font-size: 1.375rem;
}

h4 {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 0.3125rem;
  font-weight: 400;
}

h5 {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  font-size: 0.875rem;
}

p,
li {
  font-family: Overpass, Helvetica, sans-serif;
  font-size: 1.125rem;
}

em,
.text-comment {
  color: #888888;
}

a.button,
button {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  color: #e8e8e8;
  background: #ea1e43;
  border: 2px solid #ea1e43;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 2px;
  text-decoration: none;
}
a.button:hover,
button:hover {
  cursor: pointer;
  color: #ea1e43;
  background: transparent;
}

a.link {
  color: #ea1e43;
  font-family: Overpass, Helvetica, sans-serif;
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}

.button-secondary {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  color: #ea1e43;
  background: transparent;
  border: 2px solid #ea1e43;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 2px;
  text-decoration: none;
}
.button-secondary:hover {
  cursor: pointer;
  background: #681726;
}

.socials {
  gap: 1.5rem;
  padding-top: 12px;
}

.icon {
  width: 28px;
  height: 28px;
  fill: #e8e8e8;
}
.icon:hover {
  cursor: pointer;
  fill: #ea1e43;
}

footer {
  background: #ea1e43;
  padding: 0.75rem;
}

/************************* 
  Utility Classes
*************************/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.basis-50 {
  flex-basis: 50%;
}

.page-max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.section-padding {
  padding: 75px 45px;
}

/************************* 
  Homepage
*************************/
.hero {
  padding: 45px;
}

.work .comment {
  padding: 8px 0;
}
.work .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.work .card-grid .card {
  max-width: 400px;
  text-decoration: none;
  color: #e8e8e8;
  background: #1b1b1b;
  border-radius: 4px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin: 12px;
  box-shadow: 0px 0px 4px 2px #ea1e43;
}
.work .card-grid .card .card-image {
  position: relative;
}
.work .card-grid .card .card-image img {
  border-radius: 4px 4px 0 0;
  height: auto;
  display: block;
}
.work .card-grid .card .card-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 4px 4px 0 0;
}
.work .card-grid .card .card-content {
  padding: 1rem;
}
.work .card-grid .card:hover:not(.disabled) {
  cursor: pointer;
  box-shadow: 0px 0px 8px 4px #ea1e43;
  transform: translateY(-5px);
}
.work .card-grid .card:hover:not(.disabled) .card-image .overlay {
  opacity: 1;
}
@media (max-width: 1200px) {
  .work .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .work .card-grid {
    grid-template-columns: 1fr;
    max-width: 450px;
    margin: 0 auto;
  }
}

section.about-section {
  background-color: #1b1b1b;
}
section.about-section .about > div {
  flex: 1;
}
section.about-section .about .bio p {
  padding: 0.5rem 0;
}
section.about-section .about #bioMoreContent {
  display: none;
}
section.about-section .about button {
  margin-top: 1rem;
}
section.about-section .about img {
  width: 350px;
  padding: 20px;
  margin: 0 auto;
  display: block;
}
@media (max-width: 800px) {
  section.about-section .about img {
    padding-top: 50px;
  }
}
@media (max-width: 800px) {
  section.about-section .about {
    flex-direction: column-reverse;
    padding: 50px;
  }
}

/*************************
  Project pages
*************************/
.project-header {
  padding-bottom: 1rem;
}
.project-header .button-group {
  gap: 1.5rem;
  padding: 1rem;
}
.project-header .project-plans {
  padding: 1rem;
  line-height: 1.25;
}
@media (max-width: 800px) {
  .project-header .flex-direction {
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
  }
}

section.project-section {
  background: #1b1b1b;
}
section.project-section .project {
  gap: 2rem;
}
section.project-section .project .description {
  gap: 1rem;
  padding-left: 3rem;
  padding-right: 1rem;
}
section.project-section .project .technologies {
  padding-left: 3rem;
}
section.project-section .project .technologies ul {
  list-style: square;
}
section.project-section .project .technologies li {
  margin-left: 15px;
}
section.project-section .project img {
  padding: 1rem;
  border-radius: 20px;
  object-fit: cover;
  width: 500px;
}
@media (max-width: 800px) {
  section.project-section .project .description,
  section.project-section .project .technologies {
    padding: 0 1rem;
  }
  section.project-section .project .flex-direction {
    flex-direction: column;
    gap: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
